name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Purge old caches
      run: |
        pip uninstall -y buildozer python-for-android || true
        rm -rf ~/.buildozer
        rm -rf .buildozer
        rm -rf ~/.cache/pip

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          git zip unzip openjdk-17-jdk \
          python3-pip python3-setuptools \
          python3-wheel python3-venv \
          build-essential \
          libffi-dev libssl-dev \
          zlib1g-dev libncurses5 \
          libsqlite3-dev libjpeg-dev \
          libfreetype6-dev libgl1-mesa-dev

    - name: Install Buildozer & P4A
      run: |
        python -m pip install --upgrade pip
        pip install "cython<3.0"
        pip install buildozer==1.3.0
        pip install python-for-android==2023.5.21

    - name: Build APK
      run: |
        buildozer android apk

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: PDFGuard-APK
        path: bin/*.apk
