name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build APK (OFFICIAL CI METHOD)
        run: |
          docker run --rm \
            -e BUILDOZER_ALLOW_ROOT=1 \
            -e HOME=/workspace \
            -v "$PWD":/workspace \
            -w /workspace \
            kivy/buildozer:latest \
            buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
