name: Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build APK
        uses: kivy/buildozer-action@v1
        with:
          command: buildozer android debug

      - uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
